name: Python application test with GitHub Actions

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.12.1'

      - name: Install dependencies
        run: make install

      - name: Run linting
        run: make lint

      - name: Run tests
        run: make test

      - name: Run formatter
        run: make format
